@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

@import "components/statusbar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";

@import "screens/cocoa1.css";
@import "screens/cocoa2.css";

body {
  background-color: var(--color);
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: var(--black);
}
