@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

@import "components/statusbar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/bedge.css";
@import "components/icon-row.css";

@import "screens/index.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chatting.css";

body {
  padding-top: 20px;
  background-color: var(--color);
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  color: var(--black);
}
