.user-component__subtitle span {
  display: block;
  color: tomato;
  border: 2px solid tomato;
  border-radius: 50px;
  font-weight: 600;
  width: 12px;
  height: 12px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.more-screen .icon-row {
  margin: 20px 0px;
}

.more-suggestions {
  font-weight: 600;
}

.more-suggestions__border {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 20px;
}
