.bedge1 {
  background-color: tomato;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12.5px;
  color: white;
  font-weight: 600;
}

.bedge2 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: block;
  position: absolute;
  left: 74px;
  bottom: 16px;
}
